.formControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}

.add {
  color: #fff;
  background-color: #00246b;
  border-radius: 5px;
  padding: 5px 16px;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.2s ease;
  border: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.update {
  color: #00246b;
  border: 1px solid #00246b;
  border-radius: 5px;
  padding: 4px 6px;
  cursor: pointer;
  background-color: #fff;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
