.nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 20px;
}

.nav span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #8ab6f9;
  color: #00246b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
